@model _20_EF_MVC_ZmienneStatyczne_Application.Models.Counters
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("PassTempData", "Home"))
    {
        <div>
            Wpisz parametr do przekazania między żądaniami

            <input type="text" name="paramtopass" />
            <input value="Wyślij" type="submit" />
        </div>
    }

    @using (Html.BeginForm("IncrementStatic", "Home"))
    {
        <div>
            Licznik kliknięć (zmienne static)
            <input value="Inkrementuj!" type="submit" />
            <div>@Model.StaticCounter</div>
        </div>
    }

</body>
</html>
