@model MyValidation.Models.Question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("AddQuestion", "Home"))
    {
        @Html.EditorFor(m => m)

        <input type="submit" value="Wyślij" />
    }
</body>
</html>
