@{
    ViewBag.Title = null;
}

@using (Html.BeginForm("PassTempData", "Home"))
{
    <div>
        Wpisz parametr do przekazania między żądaniami
        <input type="text" name="paramtopass" />
        <input value="Wyślij" type="submit" />
    </div>
}