@model  List<SimpleApp.Models.Album>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @foreach(var album in Model)
    {
        @album.AlbumName @album.Artist
        <span></span>
        <br/>
    }
</div>