@model Cache_.Models.Counters
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div>
        <p>Aktualna godzina: @DateTime.Now.ToLongTimeString()</p>
        <p>@Html.Action("GetTime", true)</p> @** Action("", tutaj) <- okresla co nie ma byc cachowane*@
    </div>

    @using (Html.BeginForm("IncrementCache", "Home"))
    {
        <div>
            Licznik kliknięć (cache)
            <input value="Inkrementuj!" type="submit" />
            <div>@Model.CacheCounter</div>
        </div>
    }

</body>
</html>
