@using _07_EF_MVC_View_Razor.Infrastructure
@{
    ViewBag.Title = "Helpers";
}

<h2>Helpers</h2>

@Html.Image("koń", "https://i.wpimg.pl/730x0/m.gadzetomania.pl/haha-7d43148228848200c1ccc59676b.jpg", "smieszny koń")